<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.route.chatapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.register_activity.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ChatApp.NoActionBar">
        </activity>
        <activity
            android:name="com.route.chatapp.ui.add_room.AddRoomActivity"
            android:exported="false"
            android:label="AddRoomActivity"
            android:theme="@style/Theme.ChatApp.NoActionBar">
        </activity>

        <activity
            android:name="com.route.chatapp.ui.home_activity.HomeActivity"
            android:exported="true"
            android:label="HomeActivity"
            android:theme="@style/Theme.ChatApp.NoActionBar">
        </activity>
        <activity
            android:name="com.route.chatapp.ui.chat_activity.ChatActivity"
            android:exported="true"
            android:label="ChatActivity"
            android:theme="@style/Theme.ChatApp.NoActionBar">
        </activity>
        <activity
            android:name=".ui.login_activity.LoginActivity"
            android:exported="true"
            android:label="LoginActivity"
            android:theme="@style/Theme.ChatApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>